:root {
  --vt-c-navy: #074173;
  --vt-c-blue: #1679AB;
  --vt-c-mint: #5DEBD7;
  --vt-c-green: #C5FF95;
  --vt-c-white-text: #fff;
  --vt-c-white-soft: #f1e6e0;

  --primary-transition: all 0.2s ease-in-out;
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}