@import url('https://fonts.googleapis.com/css?family=roboto&family=Dosis&family=Open+Sans&display=swap');

:root {
  --vt-c-navy: #074173;
  --vt-c-blue: #1679AB;
  --vt-c-mint: #5DEBD7;
  --vt-c-green: #C5FF95;
  --vt-c-white-text: #fff;
  --vt-c-white-soft: #f1e6e0;

  --primary-transition: all 0.2s ease-in-out;
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
}